/* navigation */
*{
  
  max-width: 100%;
}
body {
  background-color: aliceblue;
  position: relative;
  top: 100px;
	padding: 0;
	margin: 0;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
nav .logo {
	float: left;
	border-radius: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color:gold;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color:gold;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/* navigation end */

/* home  */
.intro { 
  justify-content: center;
  flex-direction: column;
  height: 400px;
  
}
.home {
  display: flex;
  flex-direction: column;
  margin: 8%;
  margin-right: 15%;
}
.home h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}
span {
  color: gold;
}
.image{
  flex-direction: column;
  height: 500px;
  
} 
/* home end  */


/* about me */
#about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
#pic{
  display: flex;
  flex-direction: column;
  align-self: center;
}
#pic h1{
  text-align: center;
  font-size: 2px;
}
#pic img{
  width:300px;
  height: 475px;
  padding-top:70px;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}
#intro h1{
  padding: 10px;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
}
.resume{
  font-size: 35px;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: gold;
  border:  solid black;
  color:black;
  outline: none;
  transition: .6s ease;

}
.resume:hover{
  cursor: pointer;
  background-color:aqua;
  color: black;
  box-shadow: 0 0 5px white ,0 0 10px white, 0 0 15px white;
  font-weight: bold;
}
#story{
  display: flex ;
  flex-direction: column;
  padding: 20px;

}
.row{
  display: flex;
}
.box{
  display: flex;
  flex-direction: column;
  height: 523px;
  border: 1px solid black;
  margin: 10px;
  align-items: center ;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  transition: all .8s;
}
.box:hover{
  background-position: left bottom;
  color:red;
  border: none;
  box-shadow: 0 0 20px;
} 
/* about me end  */
/* trave */
#travel{
  text-align: center;
}
.travel{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

}
.place{
  flex-direction:column ;
  padding: 0 10px;
}
.toure-img{
  flex-direction: column;
  height: 350px;
  padding: 0 10px;
  
}
/* trvel end  */

/* voluntary */
.active{
	width: 100%;
  text-align: center;
  flex-direction: column;
  padding: 0 auto;

}
.img{
  height: 300px;
  padding: 0 10px;

}


/* contact Section */
#contact .contact {
  text-align: center;
	flex-direction: column;
	max-width: 1200px; 
  justify-content: center;
	width: 90%;
}
#contact .contact-items {
	max-width: 400px;
	margin: auto;
}
#contact .contact-item {
	width: 80%;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
	justify-content: center;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	/* margin-bottom: 10px; */
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section*/
/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  text-align: center;
  
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}
.link {
  color: white;
}
.link:hover {
  color: red;
}
/* End Footer */
